<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    {{login_form}}
    <div class="form-group">
        <button class="btn btn-primary" type="submit" style="background-color:blue; color:red; border:None transition: all 0.3s ease; ">login</button>
    </div>
</form>
<p class="text_center">don`t have an account,<a href="register">create an account</a> </p>
{% for ms in messages %}
{{ms}}
{% endfor %}
</body>
</html>